In [1]:
import pandas as pd

In [2]:
white_wine = pd.read_csv("C:\\Users\\Jiacheng\\MDS\\522\\DSCI522_Team_23\\data\\winequality-white.csv", sep = ";")

In [3]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(white_wine, test_size=0.2, random_state=111)
train_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3491,8.0,0.20,0.44,1.0,0.057,24.0,111.0,0.991580,3.09,0.32,11.2,6
2284,7.4,0.33,0.26,15.6,0.049,67.0,210.0,0.999070,3.06,0.68,9.5,5
3048,7.1,0.17,0.43,1.3,0.023,33.0,132.0,0.990670,3.11,0.56,11.7,6
3931,6.2,0.30,0.28,1.6,0.036,28.0,106.0,0.988245,3.14,0.41,13.3,6
4628,6.1,0.19,0.37,2.6,0.041,24.0,99.0,0.991530,3.18,0.50,10.9,6

In [4]:
train_df.shape

(3918, 12)

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3918 entries, 3491 to 3924
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3918 non-null   float64
 1   volatile acidity      3918 non-null   float64
 2   citric acid           3918 non-null   float64
 3   residual sugar        3918 non-null   float64
 4   chlorides             3918 non-null   float64
 5   free sulfur dioxide   3918 non-null   float64
 6   total sulfur dioxide  3918 non-null   float64
 7   density               3918 non-null   float64
 8   pH                    3918 non-null   float64
 9   sulphates             3918 non-null   float64
 10  alcohol               3918 non-null   float64
 11  quality               3918 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 397.9 KB

In [6]:
train_df.describe(include="all")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000
mean,6.854122,0.276905,0.334234,6.417075,0.045668,35.359239,138.471924,0.994039,3.188443,0.489964,10.514435,5.891016
std,0.836266,0.099617,0.119481,5.125878,0.022172,16.989816,42.082768,0.003019,0.151852,0.114277,1.230092,0.889399
min,3.800000,0.080000,0.000000,0.700000,0.009000,2.000000,9.000000,0.987110,2.740000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.125000,109.000000,0.991720,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993700,3.180000,0.480000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,10.000000,0.050000,45.000000,167.000000,0.996120,3.280000,0.550000,11.400000,6.000000
max,11.800000,1.100000,1.230000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.000000,9.000000

In [ ]:
X_train, y_train = train_df.drop(columns=["Class"]), train_df["Class"]
X_test, y_test = test_df.drop(columns=["Class"]), test_df["Class"]